// 隐藏 valine 的 powered by
.power.txt-right {
	display: none;
}

// 修改不蒜子数据颜色
#busuanzi_value_site_pv,#busuanzi_value_site_uv{
  color: #00BFFF;
}

// valine 评论框对齐文章
div#comments.comments.v{
  margin-left: 0px !important;
  margin-right: 0px !important;
  border: 0px;
}

body {
  background-image:url(https://myblog-1303447677.cos.ap-shanghai.myqcloud.com/BlogFrame/bg.png);
  height:100%;
  width:100%;
  background-repeat:repeat-x;
  background-attachment:fixed;
  background-size:cover;
}

//侧边框的透明度设置
.sidebar-inner {
  background: rgba(255,255,255,0.8);
}

//菜单栏的透明度设置
.header-inner {
  background: rgba(255,255,255,0.8);
}