// Custom styles.

body{
    background:url(../images/bg.png);
    background-size:cover;
    background-repeat:repeat;
    //background-attachment:fixed;
    //background-position:center;
}

@font-face {
    font-family: FZPSZHUNHJW;
    src: url('/fonts/FZPSZHUNHJW.TTF');
}
.site-title {
    font-size: 40px !important;
	font-family: 'FZPSZHUNHJW' !important;
}